<!DOCTYPE html>
<html lang="sp">
<%- include('../partials/head', {title: 'Details' }) %>

      <body>
            <h1>Detalles de productos</h1>
            <%- include('../partials/header') %>
      </body>

</html>