<!DOCTYPE html>
<html lang="sp">
<%- include('./partials/head', {title: 'Home Pages' }) %>

      <body>
            <h1>Pagina de Inicio</h1>
            <%- include('./partials/header') %>



                  <img src="/images/node.jpg" width="60%">
      </body>

</html>