<header>

      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                              <a class="nav-link active" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="/products">Productos</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="/products/details">Detalle de Productos</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="/users/login">Inicio de Sesión</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="/users/register">Registrate</a>
                        </li>
                  </ul>

            </div>
      </nav>
      <br>
</header>