<!DOCTYPE html>
<html lang="sp">

<%- include('../partials/head', {title: 'Accseso denegado' }) %>

      <body>
            <h1>Accseso denegado</h1>
            <%- include('../partials/header') %>
                  <img src="/images/denied.png" width="60%">
      </body>

</html>