<!DOCTYPE html>
<html lang="sp">

<%- include('../partials/head', {title: 'Register' }) %>

      <body>
            <h1>Registrate</h1>
            <%- include('../partials/header') %>
      </body>

</html>